@import "reset-css";
body{
    background: var(--bg-color);
}

.ant-btn-primary {
    background-color: rgba(20, 86, 240, 1);
}

.main {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
}

.main-config {
    border-top: var(--line-color) 1px solid;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

.config-panel {
    width: 340px;
    flex: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    border-left: var(--line-color) 1px solid;
    padding: 20px;
    box-sizing: border-box;
    max-height: 100vh;
    /*overflow: scroll;*/
}

.form {
    flex-grow: 1;
}

.form-item {
    margin-bottom: 16px;
    color: var(--text-title);
}

.ant-picker {
    width: 100%;
}

.checkbox-group {
    row-gap: 8px;
}

.label {
    padding-bottom: 8px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.btn {
    align-self: flex-end;
}

.number-container {
    padding: 0 15px;
    display: flex;
    gap: 28px;
    justify-content: center;
    row-gap: 10px;
}

.number-container {
    flex-wrap: wrap;
    align-content: center;
}

.number-container div {
    flex-shrink: 0;
}

.number {
    font-family: DIN Alternate;
    font-size: 28vmin;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
}

.number-title {
    font-family: PingFang SC;
    font-size: 6vmin;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.count-down-title-config {
    font-size: 4vmin;
    font-weight: normal;
    margin-bottom: 20px;
}

.count-down-title {
    font-size: 6vmin;
}

.common-wrap{
    background: var(--wrap-color);
    border-radius: 6px;
    padding: 8px;
}


.tab-wrap {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: var(--tab-wrap-color);
    padding: 4px;
    margin-top: 8px;
    border-radius: 6px;
    border: var(--border-color) 1px solid;
}
.tab-item{
    text-align: center;
    width: 50%;
    border-radius: 6px;
    padding: 8px;
    font-size: 12px;
}
.tab-item.active{
    color: var(--active-color);
    font-weight: 500;
    background: var(--active-wrap-color);
}
.mt8{
    margin-top: 8px;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --text-title: #333;
    --sub-title-color: #5f6369;
    --title-color: #373c44;
    --small-title-text-color: #646A73;
    --wrap-color: #f5f6f7;
    --icon-color: #646A73;
    --active-color: #1456F0;
    --active-wrap-color: rgba(20, 86, 240, 0.10);
    --tab-wrap-color: #fff;
    --border-color: #fff;
    --line-color: rgba(235, 235, 235, 0.85);
}

body[theme-mode="dark"] {
    --background-color: #000000;
    --text-color: #ebebeb;
    --text-title: #ebebeb;
    --sub-title-color: #ebebeb;
    --title-color: #ebebeb;
    --small-title-text-color: #ebebeb;
    --wrap-color: #373737;
    --icon-color: #ebebeb;
    --active-color: #4c87ff;
    --active-wrap-color: rgba(76, 135, 255, 0.10);
    --tab-wrap-color: #373737;
    --border-color: #525252;
    --line-color: rgba(207, 207, 207, 0.15)
}

.iconWrap{
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 5px;
}
.icon.active{
    background: var(--active-wrap-color);
    border-radius: 4px;
}
.semi-upload-drag-area{
    border: none !important;
}
::-webkit-scrollbar {
    width: 12px; /* 宽度 */
    height: 12px; /* 高度 */
}